.ChannelPage {

  .title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #1a237e;
  }    

  .messages {
    overflow: scroll;
  }

  .message-input {
    height: 80px;
  }
}