.ChannelMenu {
	background-color: $lightBlueA100;
  flex: 0 1 auto;
  width: 280px;
  min-height: 0px;
  overflow-y: auto;

  .count {
    &.none {
      display: none;
    }

    background-color: $orange900;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    width: 30px;
    @include rounded(10px);
  }
}