$indigo100: #c5cae9;
$indigo900: #1a237e;
$lightBlueA100: #80d8ff;
$blueGrey50: #eceff1;
$blueGrey100: #cfd8dc;
$blueGrey200: #b0bec5;
$blueGrey300: #90a4ae;
$blue50: #e3f2fd;
$orange500: #ff9800;
$orange800: #ef6c00;
$orange900: #e65100;
$deepOrange800: #d84315;
$grey200: #eeeeee;
$red100: #ffcdd2;
$red700: #d32f2f;
