.Header {

  img {
    height: 36px;
    vertical-align: middle;
  }

  .right-icon {
  }

  .user-name {
    margin-top: -16px;
    display: inline-block;    
    vertical-align: middle;
    height: 36px;
    line-height: 48px;
    color: white;
  }
}