.Message {
  position: relative;
  border: 1px solid $blue50;
  border-left: 2px solid $blue50;
  background-color: $blue50;
  padding-right: 8px;
  cursor: default;

  &:hover {
    border: solid #f0f0f0;
    border-width: 1px 1px 1px 2px;
    background-color: rgba(229, 229, 229, 0.5);
  }

  &.same-sender {
    .sender {
      display: none;
    }

    .timestamp {
      display: none;
    }
  }

  .sender {
    display: inline-block;
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 8px;
    color: $indigo900;
    font-size: 14px;
    font-weight: bold;
  }

  .timestamp {
    display: inline-block;
    color: $blueGrey300;  
    font-size: 13px;
  }

  .text {
    margin-left: 8px;
    margin-right: 4px;
    font-size: 14px;

    p {
      margin-bottom: 0px;
    }
  }

}