.PageTitle {
  padding-top: 24px;
  padding-bottom: 16px;
  font-size: 24px;

  .divider {
    color: #aaa;
  }

  .parent-view, .current-view {
    margin-top: 8px;
    display: inline-block;
  }


}